body {
   margin-top: 1em;
}

#json-throbber {
   vertical-align: middle;
   display: inline-block;
   margin: 2px;
}

#right-column {
   box-sizing: border-box;
}

#numbers,
.chzn-container,
#graph-types {
   margin-bottom: 1em;
}

#no-data-returned {
   display: none;
}

/* Draggable fields */
.drag-here {
   background-color: #b5eda6;
}

ul {
   margin: 0;
   padding: 0;
}

li {
   cursor: move;
   margin: 0;
   padding: 0;
   list-style-type: none;
}

/* Function editing */
.CodeMirror-scroll {
   height: 150px;
}

.CodeMirror-completions {
   z-index: 2000;
}

#function-definition {
   width: 95%;
}

#function-output-wrapper {
   font-family: Consolas, monospace;
   margin-top: 1em;
   margin-bottom: 0;
}

/* Graph styles */
#title, #sub-title {
   text-align: center;
}

rect {
   fill: #29abe2;
   stroke: #fff;
   -webkit-transition: fill 0.3s;
   -moz-transition: fill 0.3s;
   -o-transition: fill 0.3s;
   -ms-transition: fill 0.3s;
   transition: fill 0.3s;
}

rect:hover {
   fill: #777;
}

line {
   stroke: #ccc;
   shape-rendering: crispEdges;
}

text {
   fill: #666;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
