body {
   margin-top: 1em;
}

#json-throbber {
   vertical-align: middle;
   display: inline-block;
   margin: 2px;
}

#right-column {
   box-sizing: border-box;
}

#function-definition {
   width: 95%;
}

#function-output-wrapper {
   font-family: Consolas, monospace;
   margin-top: 1em;
   margin-bottom: 0;
}

.drag-here {
   background-color: #b5eda6;
}

.CodeMirror-scroll {
   height: 150px;
}

.CodeMirror-completions {
   z-index: 2000;
}

ul {
   margin: 0;
   padding: 0;
}

li {
   cursor: move;
   margin: 0;
   padding: 0;
   list-style-type: none;
}
